:root {
  /*colors*/
  --color1: #cdd8df; /*light*/
  --color2: #171e25; /*dark*/
  --color3: #d1c021; /*highlight*/
  --color4: #d00000; /*hover*/
  --color5: #adb9be; /*light-lite*/
}

body {
  font: 15px/1.5 Verdana, helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--color1);
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 35px;
  background: var(--color3);
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
}

.dark {
  padding: 15px;
  background: var(--color2);
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header */
header {
  background: var(--color2);
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: var(--color3) 3px solid;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font: size 16;
}

header li {
  /*float:left;*/
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 20px;
}

header .highlight,
header.current a {
  color: var(--color3);
  font-weight: bold;
}
header a:hover {
  color: var(--color4);
  font-weight: bold;
}

/*Showcase*/
#showcase {
  min-height: 350px;
  background: url("../img/ripples.jpg") no-repeat 0 -500px;
  text-align: center;
  color: #ffffff;
}

#showcase h1 {
  margin-top: 125px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

/*Newsletter*/
#newsletter {
  padding: 15px;
  color: white;
  background: var(--color2);
}
#newsletter h1 {
  float: left;
}
#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

/*Boxes*/
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 33%;
  padding: 0px;
}

#boxes .box img {
  width: 90px;
}

/* Main-col*/
article#main-col {
  float: left;
  width: 65%;
}

/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

/* Projects */
ul#projects li {
  list-style: none;
  padding: 20px;
  border: var(--color3) solid 1px;
  margin-bottom: 5px;
  background: var(--color5);
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: black;
  background-color: var(--color3);
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form, 
  #boxes .box,
  article#main-col,
  aside#sidebar
  {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }

  #showcase h1 {
    margin-top: 125px;
  }

  #newsletter button {
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"]{
      width:100%;
      margin-bottom:5px;
  }
}

/*IN CONSTRUCTION*/
#newsletter{
    display: none;
}
